<!DOCTYPE html>
<html>
  <head>
    <title>SEFTOR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SEFTOR</h1>
    <p>Welcome to SEFTOR</p>
  </body>
</html>
